<h4>Back to <%= link_to "All Boards", boards_path %></h4>

<h1>Your Board</h1>
<h2><%= @board.name %></h2>
<ul id="all_lists">
  <% @lists.each do |list| %>
    <p><%= link_to list.name, list_path(list) %></p>
    <ul id="all_tasks">
      <% list.tasks.each do |task| %>
        <li><%= task.name %> <%= button_to "Remove Task", task, :method => :delete %></li>
      <% end %>
      <ul>
        <%= form_for(@task, {remote: true, html: {class: 'task_index', 'data-type' => 'json'}}) do |f| %>
          <p><%= f.label "New Task Name:" %></p>
          <p><%= f.text_field :name %></p>
          <!-- <p><%#= f.label :complete? %></p>
          <p><%#= f.check_box :complete?, {}, true, false %></p> -->
          <p><%= f.label "Select List:" %></p>
          <p><%= f.collection_select :list_id, List.all, :id, :name %></p>
          <p><%= f.submit "Add Task" %></p>
        <% end %>
      </ul>
    </ul>
  <% end %>
</ul>

<ul>
  <%= form_for(@list, {remote: true, html: {class: 'list_index', 'data-type' => 'json'}}) do |f| %>
    <p><%= f.label 'New List Name:' %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label 'Select Board:' %></p>
    <p><%= f.collection_select :board_id, Board.all, :id, :name %></p>
    <%= f.submit "Add List" %>
  <% end %>
</ul>
